.form-group{
    padding: 30px;
    flex-direction: column;
    display: flex;
    background-color: aliceblue;
    width: 40%;
    border: 1px solid gray;
    gap: 10px;
}

.form-control{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 6px 20px;

}
.form-group button{
    background-color: aquamarine;
    color: rgb(55, 55, 56);
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
